.leftbar{
    flex:3;
    height:100vh;
    background-color:#D2CCCC;
    -webkit-box-shadow: 10px 10px 9px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 9px -5px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 9px -5px rgba(0,0,0,0.75);
    border-radius: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #636060;
    z-index: 99;

    ::-webkit-scrollbar{
        width: 5px;
        position: absolute;
        height: 5px;
    }
    ::-webkit-scrollbar-thumb{
        background-color: #8989BB;
    }

    ::-webkit-scrollbar-track{
        background-color: #D2CCCC;
    }

    .container{
        height: 100%;
        overflow: auto;
        .top{
            display: flex;
            flex-direction: column;
            position: relative;
            margin-top: 30px;
            .icon{
            align-self: center;
            color: #D9D9D9;
        }
        h3{
            font-size: 25px;
            align-self: center;
            font-weight: bold;
        }   
    }
    .menu{
        font-weight: bold;
        display: flex;
        flex-direction: column;
        gap: 15px;
        .personal{
            padding: 5px 20px;
            display: flex;
            align-items: center;
            gap: 10px;
            background: #000;
        }
        .column{
            margin-top: 20px;
            padding-left: 20px;
            display: flex;
            align-items: center;
            cursor: pointer;
            justify-content: space-between;
            .info{
                display: flex;
                align-items: center;
                gap: 20px;
            }
            .arrow{
                display: flex;
                align-items: center;
                padding-right: 20px;
            }
        }
        .subcolumn{
            padding-left: 23px;
            margin-left: 40px;
            cursor: pointer;
        }   
        .subcolumn-last{
            padding-left: 23px;
            margin-left: 40px;
            cursor: pointer;
            margin-bottom: 20px;
        }   

    }
    hr{
        margin: 20px 0 px;
        border: none;
        width: 90%;
        height: 5px;
        background-color:#636060 ;
        border-radius: 5px;
    }

}
}