.login{
    width: 100%;
    height: 100vh;
    display: flex;
    background: radial-gradient(circle at 10% 20%, rgb(163, 175, 243) 0%, rgb(220, 182, 232) 100.2%);
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    .circleLeftDown{
        position: absolute;
        background: #ffffff;
        bottom: 100px;
        left: -100px;
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }
    .circleRightDown{
        position: absolute;
        background: #ffffff;
        bottom: 100px;
        right: 200px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
    .circleLeftUp{
        position: absolute;
        background: #ffffff;
        top: 100px;
        bottom : 0;
        left: 200px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    .circleRightUp{
        position: absolute;
        background: #ffffff;
        top: 0;
        right: -100px;
        overflow: hidden;
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }
    .container{
        z-index: 999;
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 60%;
        background:#D2CCCC;
        border: none;
        border-radius: 30px;
        -webkit-box-shadow: 0px 6px 18px -6px rgba(0,0,0,0.69);
        -moz-box-shadow: 0px 6px 18px -6px rgba(0,0,0,0.69);
        box-shadow: 0px 6px 18px -6px rgba(0,0,0,0.69);
        h1{
            color:whitesmoke;
            font-size: 30px;
            align-self: center;
            margin-bottom: 20px;
            font-weight: bold;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
        }   
        .inputfield{
            display: flex;
            flex-direction: column;
            align-items: center;

            .field{
                border-radius: 10px;
                margin-top: 20px;
                width: 70%;
                display: flex;
                justify-content: space-between;
                background: white;
                align-items: center;
                -webkit-box-shadow: 0px 6px 5px -2px rgba(0,0,0,0.69);
                -moz-box-shadow: 0px 6px 5px -2px rgba(0,0,0,0.69);
                box-shadow: 0px 6px 5px -2px rgba(0,0,0,0.69);
                margin-bottom: 10px;
                input{
                    &::placeholder{
                        color: #7C73C3;
                        font-weight: bold;
                    }
                    width: 80%;
                    padding: 10px;
                    border-radius: 10px;
                    border: none;
                    outline: none;
                }
                .icon{
                    width: 30px;
                    height: 30px;
                    color: #7C73C3;
                }
                .empty::placeholder{
                    color: rgba(247, 95, 95, 0.845);
                }
            }

            h3{
                color: rgba(247, 95, 95, 0.845);
            }

           
            button{
                display: flex;
                // -webkit-box-shadow: 0px 6px 5px -2px rgba(0,0,0,0.69);
                // -moz-box-shadow: 0px 6px 5px -2px rgba(0,0,0,0.69);
                // box-shadow: 0px 6px 5px -2px rgba(0,0,0,0.69);
                padding: 10px 20px;
                border: none;
                border-radius: 10px;
                cursor: pointer;
                background: transparent;
                color: #7C73C3 ;
                font-weight: bold;
                font-size: 20px;
                position: relative;
                transition: all 1s;
                overflow: hidden;

                &::before{
                    content: "";
                    position: absolute;
                    width: 15%;
                    height: 35%;
                    border-radius: 50%;
                    background-color: #FFF;
                    left: -25%;
                    box-shadow: -40px 0px 0px #FFF;
                    transition: all 0.5s;
                    
                }
                &::after{
                    content: "";
                    position: absolute;
                    width: 15%;
                    height: 35%;
                    border-radius: 50%;
                    background-color: #FFF;
                    right: -25%;
                    box-shadow: 40px 0px 0px #FFF;
                    transition: all 0.5s;
                }

                &:hover::before{
                    left: 40%;
                    opacity: 0;
                    // transform: scale(0);
                }
                &:hover::after{
                    right: 40%;
                    opacity: 0;
                    // transform: scale(0);
                }
                span{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background: radial-gradient(circle at 10% 20%, rgb(163, 175, 243) 0%, rgb(220, 182, 232) 100.2%);;
                    border-radius: 10px;
                    transform: scale(0);
                    transition: all 0.5ms;
                }

                &:hover{
                    color: white;
                    transition-delay: 0.4s;
                }

                &:hover span{
                    transform: scale(1);
                    transition-delay: 0.5s;
                    z-index: -1;
                }
            }
        }    
    }
}