.productlistitem{
    // margin: 2% 5%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
    min-height: 120px;
    align-items: center;
    font-size: 15px;
    justify-content: flex-start;
    font-weight: 500;
    font-weight: bold;            
    .field{
        display: flex;
        font-size: 15px;
        font-weight: bold;
        width: 20%;
        padding-left: 5%;
    }    
    .actions{
        display: flex;
        width: 20%;
        margin-left: 5%;
        .edit-icon{
            width: 40px;
            height: 40px;
            cursor: pointer;
        }
        .delete-icon{
            margin-left: 15px;
            width: 40px;
            height: 40px;
            cursor: pointer;
            color: rgb(255, 102, 102);
        }
    }
}